.banner {

  &-section {
    display: flex;
    align-items: center;
    margin-right: 0px;
    margin-left: 0px;
  }

  &-card {
    display: block;
    padding: 0;

    &:first-child {
      padding-right: 10px;
      padding-left: 0;
    }

    &:last-child {
      padding-left: 10px;
    }

    &:only-child {
      padding-left: 0;
    }

    &.orange {
      .banner-card__content {
        background: linear-gradient(90deg,rgba(242,167,118,.87) 15%,rgba(243,168,118,.88) 40%,rgba(235,132,153,0));
      }
    }

    &.pink {
      .banner-card__content {
        background: linear-gradient(90deg,rgba(232,118,139,.88) 15%,rgba(232,118,139,.92) 40%,rgba(235,132,153,0));
      }
      .banner-card__txt {
        color: #feca79;
        text-shadow: #e4426a 2px 1px 1px;
      }
    }

    &__wrp {
      width: 100%;
      height: 165px;
      position: relative;
    }

    &__cover {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    &__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 25px;
      background: linear-gradient(90deg, hsla(225, 56%, 53%, 0.85) 15%, rgba(66, 99, 202, 0.75) 40%, rgba(235, 132, 153, 0));
    }

    &__title {
      color: #fff;
      font-size: 19px;
      margin-bottom: 10px;
    }

    &__txt {
      font-size: 30px;
      font-weight: 800;
      line-height: 1.1em;
      color: #fff;
      text-shadow: #e4426a 2px 1px 1px;
      position: relative;
      top: 0;
      transition: all .4s;
    }

    &-logo {
      background: #fff;
      border-radius: 10px;
      width: 170px;
      flex-shrink: 0;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;

      &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

    }

  }
}


//.banner {
//  background-size: cover;
//  background-position: center left;
//
//  &-section {
//    display: flex;
//    align-items: center;
//    margin: 15px 0;
//
//    .banner {
//      padding: 10px;
//      &:first-child {
//        padding-left: 0;
//      }
//      &:last-child {
//        padding-right: 0;
//      }
//    }
//
//  }
//
//  &__item {
//    background-color: #eb6081;
//    border-radius: 12px;
//    color: white;
//    height: 165px;
//    overflow: hidden;
//
//    &-right {
//      text-align: right;
//
//      img {
//        width: 100%;
//        height: 165px;
//        object-fit: cover;
//      }
//    }
//
//    &-light {
//      background: linear-gradient(to right, rgba(232, 118, 139, 0.88) 15%, rgba(232, 118, 139, 0.92) 40%, rgba(235, 132, 153, 0) 100%);
//      position: absolute;
//      top: 0;
//      left: 0;
//      width: 100%;
//      height: 100%;
//      &.orange{
//        background: linear-gradient(to right, rgba(242, 167, 118, 0.87) 15%, rgba(243, 168, 118, 0.88) 40%, rgba(235, 132, 153, 0) 100%);
//      }
//    }
//
//    &-slogan {
//      position: absolute;
//      height: 100%;
//      width: 50%;
//      display: flex;
//      padding-left: 2.5em;
//      justify-content: center;
//      flex-direction: column;
//      z-index: 99;
//    }
//
//    &-title {
//      position: relative;
//      top: 0;
//      font-size: 19px;
//      transition: all 0.4s;
//    }
//
//    &-price {
//      font-size: 30px;
//      font-weight: 800;
//      color: #feca79;
//      line-height: 0.8;
//      text-shadow: #e4426a 2px 1px 1px;
//      position: relative;
//      top: 0;
//      transition:all 0.4s;
//    }
//    &.orange{
//      background-color: #ee9360;
//      .banner__item-price{
//        color:white;
//        text-shadow: #e05c7c 2px 1px 1px;
//      }
//    }
//  }
//  &__logo{
//    position: absolute;
//    right: 72px;
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    background-color: white;
//    width: 138px;
//    height: 82px;
//    transform: translateY(-50%);
//    top: 52%;
//    border-radius: 8px;
//    z-index: 99;
//    transition: all .3s ease-in-out;
//    &-img{
//      width:auto !important;
//      height: auto !important;
//    }
//  }
//  &:hover{
//    .banner__item-title{
//      //top:-11px;
//    }
//    .banner__logo {
//      transform: translateY(-50%) scale(1.09);
//    }
//    .banner__item-price{
//      //top:-5px;
//    }
//  }
//}
