.dorm {
  &-wrapper {
    margin-top: 85px;
    background-color: #eff3fb;
    border-top: 0px;

    &__gen {
      background-color: #eff3fb;
      margin-top: -30px;
      padding: 30px 0;
      padding-bottom: 0;
    }

    .subpage-gallery {
      height: 650px;
    }

  }

  &-header {
    margin-top: 30px;
    margin-bottom: 15px;

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 20px;
    }

    &__logo {
      background-color: white;
      padding: 15px;
      width: 115px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;

      &-img {
        width: 90%;
      }
    }

    &__content {
      margin-left: -92px;

    }

    &__title {
      margin-bottom: 5px;
      color: #4a5aa3;
    }

    &-price {
      &__title {
        color: #eb6081;
        margin-bottom: 5px;
        font-weight: bold;
      }

      &__txt {
        font-size: 14px;
      }
    }

    &-inf {
      &__list {
        display: flex;
        align-items: center;
        padding: 23px 0;
        border-bottom: 1px solid #dadada;
        border-top: 1px solid #dadada;
      }

      &__icon {
        width: 18%;
        margin-right: 18px;
      }

      &__item {
        display: flex;
        align-items: center;
        width: 25%;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          width: 1px;
          height: 33px;
          background-color: #cecece;
          right: 33px;
        }

        &:last-child {
          display: none;
        }
      }

      &__txt {
        color: #8e93ab;
        font-weight: bold;
        font-size: 16px;
        position: relative;
        top: 2px;
      }
    }

    &-ik {
      float: right;
      position: absolute;
      right: 18px;
      width: 25%;

      &__icon {
        width: 15%;
        float: right;
        top: 0;
        position: absolute;
        right: 0;
      }

      &__left {
        text-align: right;
        margin-right: 55px;
      }

      &__name {
        margin-bottom: 0;
        color: #727a96;
      }

      &__branch {
        color: #727a96;
      }
    }

    &-text {
      margin-top: 20px;

      &_span {
        color: #9198b2;
        font-size: 15px;
        margin-bottom: 25px;
        font-weight: 100;
        line-height: 1.6;

      }
    }
  }

  &-tabs {
    &-wrapper {
      background-color: #dfe7f6;

      .dorm-tabs {
        padding-left: 0;

        &-item {
          border-bottom: 1px solid #dadada;
          border-top: 1px solid #dadada;
          position: relative;
          width: 100%;
          background: #e3eaf7;
          z-index: 12;
          top: 0;
          left: 0;

          ul {
            padding-left: 0;
            display: flex;

            li {
              display: inline-block;
              margin-right: 55px;
              height: 65px;
              display: flex;
              align-items: center;
              position: relative;

              a {
                color: #9198b2;
                font-size: 15px;
                opacity: 0.6;

                &:hover {
                  color: #eb6081;
                  opacity: 1;
                }
              }

              &:first-child {
                a {
                  color: #eb6081;
                  opacity: 1;
                }
              }

              &:after {
                content: '';
                position: absolute;
                width: 1px;
                height: 33px;
                background-color: #e6e6e6;
                right: -27px;
              }

              &:last-child {
                &:after {
                  content: none;
                }
              }
            }
          }

          .active {
            border-bottom: 2px solid #ee708f;
          }

          &.fixed-item {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: #e3eaf7;
            opacity: 1;
            z-index: 999;
          }
        }
      }

      .dorm-detail-tabs {
        .subpage-accordion {
          &__header {
            display: -webkit-box;
            position: relative;
            padding: 36px 0 10px 0;
          }

          &__title {
            font-size: 15px;
            top: 0;
            left: 16px;
            font-weight: bold;
          }

          &__cnt {
            overflow: hidden;


            &__gallery {
              width: 176px;
              float: left;
              border-radius: 16px;
              height: 143px;
              object-fit: cover;
              overflow: hidden;
              position: relative;
              display: flex;
              align-items: center;

              &-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }

              &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;
                background-color: #4a5aa3;
                opacity: 0.4;
              }
            }

            &__icon {
              color: white;
              z-index: 999999;
              position: absolute;
              left: 0;
              font-size: 60px;
              width: 100%;
              text-align: center;

              p {
                position: relative;
                color: white;
                font-size: 14px;
                font-weight: 600;
                top: -10px;
              }
            }
          }

          &__icon {
            background-color: transparent;
            font-size: 19px;
            margin-right: 8px;
          }

          &__right {
            position: absolute;
            right: 0;

            .radio-btn {
              padding: 0;
              min-height: 18px;
              width: 18px;
              position: relative;
              top: 10px;
              border: 1px solid #b3bfd6;
              margin: 0 8px;
              position: relative;
              float: left;

              &.active {
                &:after {
                  content: '';
                  position: absolute;
                  width: 8px;
                  height: 8px;
                  background: #f07697;
                  right: 0;
                  left: 0;
                  margin: 0 auto;
                  border-radius: 12px;
                  top: 4px;
                }
              }
            }

            ul {
              display: flex;
              align-items: center;

              li {
                margin-right: 30px;
                position: relative;
                border-bottom: 2px solid transparent;
                padding-bottom: 5px;

                &.activeprice {
                  border-bottom: 2px solid #f07697;
                }

                &:after {
                  content: '';
                  position: absolute;
                  right: -20px;
                  width: 1px;
                  height: 30px;
                  background-color: #c3c3c3;
                  top: 6px;
                }

                &:last-child {
                  &:after {
                    content: none;
                  }
                }
              }

              font-size: 14px;
            }

            p {
              display: contents;
              font-size: 24px;
              font-weight: bold;
              color: #ee6b8c;
            }

            .low-price {
              color: #5565ae;
            }

            span {
              color: #656e8d;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }

        opacity: 0.5;

        .subpage-accordion {
          &__title {
            color: #8992ac;
          }

          &__right {
            button {
              display: none;
            }

            &-select {
              display: none;
              position: relative;
              top: -3px;
            }

            ul > li {
              &:after {
                right: -15px;
              }
            }

            p {
              color: #a2a5ab;
            }
          }
        }

        &.activeDorm {
          opacity: 1;
          transition: all 0.9s;

          .subpage-accordion {
            &__right {
              button {
                display: block;
              }

              &-select {
                display: block;
              }

              ul > li {
                &:after {
                  right: -15px;
                }
              }

              p {
                color: red;
              }
            }
          }

        }
      }
    }

    &-item {
      &_left {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

.dorm-types {
  ul {
    column-count: 2;
    width: 65%;
    float: right;

    li {
      color: #5f70b7;
      margin-bottom: 8px;
      position: relative;
      margin-left: 26px;

      &:after {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 55px;
        left: -17px;
        top: 9px;
      }

      &.enable:after {
        background-color: #17d9ae;
      }

      &.disable {
        opacity: 0.3;

        &:after {
          background: #f07697;
          width: 5px;
          height: 5px;
          top: 13px;
          border-radius: 3px;
        }
      }
    }
  }

  &.property {
    ul {
      width: 85%;
      column-count: 3;
      padding-bottom: 25px;
      float: left;

      li {
        margin-bottom: 6px;
      }
    }

    .property__title {
      color: #7381bf;
      padding: 20px 0px 9px;
      border-bottom: 1px solid #e4e4e4;
      margin-left: 8px;
      margin-bottom: 25px;
      font-weight: bold;
      font-size: 15px;
    }
  }
}

.more-property {
  margin: 0 auto;
  display: table;

  .button {
    padding: 3px 23px;
    min-height: 36px;

    &__wrp {
    }

    &__icon {
      font-size: 13px;
      color: #5464ad;
      margin-right: 8px !important;
    }

    &__txt {
      font-size: 13px;
      color: #7381bf;
      font-weight: 500;
    }
  }
}

.property-wrp {
  background-color: #f1f5fc;
  padding: 45px 0;
}

.dorm-tabs-wrp {
  padding-bottom: 50px;
}

.comment {
  .result-bracket {
    &__title {
      background-color: transparent;
      width: 100%;
    }
  }

  &__reply-text {
    background-color: white;
    height: 55px;
    position: relative;
    margin-top: 30px;
    border-radius: 6px;
    box-shadow: 0px 5px 12px 0px rgba(41, 53, 108, 0.06);

    &--ico {
      position: absolute;
      right: 30px;
      top: 12px;
      font-size: 17px;
      background-color: #ef7392;
      color: white;
      padding: 2px 6px;
      border-radius: 100px;

    }
  }

  &__entry {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    font-size: 12px;
  }
}

.dorm-comment-wrapper {
  padding: 35px 0;
  background-color: #f3f6fc;
  margin-top: -7px;

  .dorm-comment {
    &__item {
      display: flex;
      align-items: flex-start;
      padding: 35px 0 0;
      flex-direction: column;

      &--replies {
        display: flex;
        align-items: flex-start;
        padding: 30px 0 20px 100px;
        border-bottom: 1px solid gainsboro;

        .dorm-comment {
          &__content {
            border-bottom: 0;
            padding-bottom: 0;
          }
        }
      }
      &-gen{
        display: FLEX;
        align-items: end;
      }
    }

    &__img {
      width: 9%;
    }

    &__content {
      padding-left: 1px;
      border-bottom: 1px solid gainsboro;
      padding-bottom: 13px;
      margin-left: 26px;
    }

    &__name {
      font-size: 17px;
      margin-bottom: 0;
      color: #656e8d;
    }

    &__date {
      font-size: 11px;
      color: #9198b2;
    }

    &__text {
      font-weight: 100;
      font-size: 16px;
      color: #9198b2;
      margin-top: 10px;
    }

    &__reply {
      display: flex;

      &-text {
        color: #eb6081;
        margin-left: 7px;
        padding-bottom: 20px;
        position: relative;
        top: 11px;
        font-size: 14px;
        cursor: pointer;
      }
    }

    &__ico {
      display: flex;
      align-items: center;
      color: #ee6b8c;
    }
  }
}

.dorm-slider {
  margin-top: 80px;
  padding: 20px 0;
}

.dorm-form {
  .login-gen {
    margin-top: -129px;
    position: absolute;
    display: table;
    z-index: 999;

    .login-box {
      max-width: 84%;
      padding-bottom: 8px;
      float: right;
      margin-bottom: 15px;

      .gray {
        margin-bottom: 12px;
      }

      .red {
        &.login-box {
          &__submit {
            margin-top: 5px;
          }
        }
      }
    }
  }

  .register-box {
    .tabs {
      &__item {
        &-link {
          color: #ee6b8c;
        }

        &.active-tab {
          border-color: #ee6b8c;
        }
      }
    }
  }

  &-price {
    color: #7b7777;
    font-size: 14px;
  }

  &__money {
    color: #ee6b8c;
    font-size: 25px;
    font-weight: 700;
  }

  &__select {
    color: #a0a0a0;
    font-size: 16px;
    font-weight: 100;
  }

  .tabs {
    &__item {

      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 15px 43px;

      &-link {
        margin-left: 0;
      }

      &-title {
        font-size: 11px;
      }
    }
  }

  &__bottom {
    position: absolute;
    bottom: -56px;
    z-index: 999;
    left: 65px;

    &-favorite {
      display: flex;

      .button__wrp {
        .button__icon {
          left: 0;
          position: relative;
          top: 11px;
          opacity: 0.3;
          transition: opacity 0.3s;
        }

        .button__txt {
          font-size: 12px;
        }
      }

      .footer__button {
        margin-right: 25px;

        &-small {
          width: 45px;
          height: 45px;
          margin-right: 6px;

          .button__icon {
            top: 0;
          }
        }
      }
    }

    button {
      &:hover {
        color: #eb6081;

        .button__icon {
          opacity: 1;
        }
      }
    }
  }
}

.fixed-form {
  position: fixed !important;
  top: 50%;
  z-index: 999999;
  transform: translateY(-50%);
  margin-top: 0 !important;
  transition: all 0.5s ease-in;
}

