@import "../variables";

.dorm-tab {
  @include bp(mobile) {
    position: relative;
    top: -69px;
  }
  @include bp(mobile-xsmall) {
    top: -84px;
  }



  &__header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 35px;
    padding-top: 20px;
    @include bp(small-desktop) {
      flex-direction: column;
    }
    @include bp(mobile) {
      display: block;
      margin-bottom: 10px;
    }

  }

  &__left {
    display: flex;
    align-items: center;
    @include bp(mobile) {
      border-bottom:1px solid #d5dded;
    }
    &-item{
      padding: 18px;
      position: relative;
      .button__wrp{
        font-size: 26px;
      }
      @include bp(mobile) {
        padding: 18px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__button {
    padding: 18px 5px;
    font-size: 21px;
    font-weight: 500;
    color: #4b5ba4;
    opacity: .65;
    position: relative;
    margin-right: 15px;
    @include bp(mobile) {
      width:50%;
      font-size:14px;
      padding: 10px 5px;
      opacity: 1;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -1px;
      width: 0%;
      height: 2px;
      left: 50%;
      transform: translateX(-50%);
      transition: all .3s;
      @include bp(mobile) {
        bottom: -1px;
      }
    }



    &.active.female:after {
      background: #eb6081;
      width: 100%;
    }

    &.active.male:after {
      background: #3986d6;
    }

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;

      &:after {
        width: 100%;
      }

    }

    &.female{

      @include bp(mobile) {
      }

    }
    &.male{
      @include bp(mobile) {
        margin-left: 19px;
      }

    }

    &__wrp{
      font-size:28px;
    }

  }

  &__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }


  &__col {
    padding: 10px;
    //width: 357px;

    //&.premium {
    //  width: 715px;
    //}

    &.empty {
      display: none!important;
    }

    @include bp(small-desktop) {
       max-width: 33%;
       flex: auto;
     }

    @include bp(tablet) {
    max-width: 50%;
      flex: auto;
    }
    @include bp(mobile) {
      max-width: 100%;
    }
  }

  hr {
    margin: 0 30px;
    height: 35px;
  }

  &__icon {
    margin-right: 15px!important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 33px;
    @include bp(mobile) {
      margin-right: 0 !important;
    }
  }

  &__txt{
    @include bp(mobile) {
      font-size: 18px;
      margin-left: 0;
      text-align: center;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        top: 19px;
        right: 2px;
        width: 1px;
        height: 38px;
        background-color: #d5dded;
        opacity: 0;
      }
    }
    literal{
      @include bp(mobile) {
        display: none;
      }

    }
  }

  .hr-vertical{
    display: none;
  }

  .mobile-dropdown{
    border-bottom: 1px solid #d4dbe6;
    padding-bottom: 5px;
    padding-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    .filtre{
      font-size: 24px;
      color: #656e8d;
      margin-right: 8px;
    }
    @include bp(small-desktop) {
      display: flex;
    }
  }

  .desktop-drop{
    @include bp(small-desktop) {
      display: block;
    }
  }
}

































