.fixed-popup {
  max-width: 315px;
  position: fixed;
  z-index: 253;
  bottom: 126px;
  right: 50px;

  .popupText1{
    display: none;
  }
  .popupText2{
    display: block;
  }

  &__wrp {
    display: block;
    background-color: #fbfbfb;
    border-radius: 18px;
    box-shadow: 0px 8px 40px 0px rgba(62, 62, 141, 0.2);
    transform-origin: 100% 100%;
  }

  &-top {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 200px;
      background: #3b7cd6;
      width: 100%;
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
    }

    &__cnt {
      position: relative;
      z-index: 2;
      bottom: 20 px;
    }

    &__title {
      color: white;
      font-size: 22px;
      font-weight: bold;
      padding: 21px 24px 0px 16px;
      margin-bottom: 10px;
    }

    &__text {
      color: white;
      opacity: 0.6;
      font-size: 13px;
      line-height: 1.4;
      padding: 0px 24px 20px 16px;
    }
  }

  &-bottom {
    position: relative;
    padding: 15px;
    background-color: #eff3fb;
    border-radius: 12px;
    //box-shadow: 0px 8px 60px 0px rgba(62, 62, 141, 0.05);
    transition: all .3s ease-in-out;
  }

  &-close {
    position: absolute;
    right: 0;
    background-color: #17d3a5;
    padding: 12px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    box-shadow: 0px 10px 15px rgba(62, 62, 141, 0.2);
    margin-top: 20px;
    cursor: pointer;
    transition:all 0.3s;
    &:hover{
      background-color: #1fc59d;
      .icon-font{
        transform: rotate(180deg);

      }
    }

    .icon-font {
      color: white;
      font-weight: bold;
      font-size: 27px;
      transition:all 0.3s;
    }
  }
}

@media only scren and (min-width: 768px){
  .fixedOverlay{
    display: none !important;
  }
}


@media only screen and (max-width: 767px){
  .fixedOverlay{
    content: '';
    position: fixed;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: rgba(34, 34, 85, 0.6);
  }

  .fixed-popup {
    max-width: 400px;
    position: fixed;
    z-index: 253;
    bottom: 138px;
    left: 5%;
    width: 90%;
    z-index: 999;

    &-close {
      bottom: -55px;
      position: absolute;
      left: 50%;
      margin-left: -25px;
      margin-top: 20px;
      &:hover{
        background-color: #1fc59d;
        .icon-font{
          transform: rotate(180deg);

        }
      }
    }

    &.fixPopup_Step1{
      bottom: 155px !important;
      .fixed-popup-close{
        bottom: -70px !important;
      }
    }
    .popupText1{
      display: none;
    }
    .popupText2{
      display: block;
    }


    &-top{
      position: relative;
      &::after{
        content: '';
        width: 20px;
        height: 20px;
        background-color: #3b7cd6;
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin-left: -10px;
        transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
    

    .fixed-popup-bottom{
      .dorm-card__top{
        height: auto !important;
      }
      .dorm-card__content{
        padding: 15px;
      }
      .dorm-card__title{
        small{
          font-size: 15px;
        }
        span{
          font-size: 16px;
          min-height: auto;
        }
      }
      .dorm-card__inf{
        font-size: 15px;
        .btn_txt{
          position: relative;
          top: 2px;
        }
      }
    }

    
  }

  .fixPopup_Step1{
    .popupText1{
      display: block;
    }
    .popupText2{
      display: none;
    }
    .fixed-popup-bottom{
      display: none;
    }
    .fixed-popup-top{
      &:before{
        height: 113px;
        border-radius: 12px;
      }
    }
  }
}
