@import "../variables";

.hero-search {

  background: #fff;
  border-radius: 10px;
  padding: 13px 0;
  padding-right: 13px;
  //margin-top: 55px;
  display: flex;
  align-items: stretch;
  width: calc(85% - 20px);
  margin: 40px auto;

  .select{
    .select-header{
      border-bottom: none;
      .form-placeholder{
        font-size: 15px;
        top: 18px;
      }
    }
  }

  @include bp(mobile) {
    padding-right: 0;
    width: 100%;
    margin-top: 6px;
  }

  @include bp(mobile) {
    display: block;
    background-color: transparent;
  }

  &__left {
    display: flex;
    align-items: stretch;
    flex: 1;
    @include bp(mobile) {
      flex-direction: column;
      background-color: white;
      border-radius: 5px;
    }
  }

  &__select {
    flex: 1;
    padding: 0 25px;
    padding-left: 35px;
    max-width: 100%;
    width: 33.33%;
    border-right: 1px solid #dee1e9;
    @include bp(mobile) {
      background-color: white;
      margin-bottom: 0x;
      border-radius: 8px;
      padding-top: 11px;
      padding-left: 15px;
      max-width: 100%;
      width: 100%;
      border-bottom: 1px solid #f3f3f3;
      border-radius: 0;
      &:first-child{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      &:last-child{
        border-bottom: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    .select {
      @include bp(mobile) {
        margin-top: -11px;
      }

      &__title {
        font-size: 16px !important;
        font-weight: bold;
        @include bp(mobile) {
          font-size: 13px !important;
        }
      }

      &:first-child {
        padding-left: 20px;
        @include bp(mobile) {

        }
      }

      &:last-child {
        border-right: 0;
      }

      &.fw {
        max-width: initial;
      }

    }

    .select__caret {
      @include bp(mobile) {
        right: -12px;
        top: 43%;
      }

    }

    &:last-child {
      border-right: 0;
    }
  }

  &__title {
    @include bp(tablet) {
      font-size: 10px;
    }

    color: #9198b2;
    font-weight: 600;
    font-size: 12px;
  }

  &__submit {
    margin-left: 25px;
    @include bp(tablet) {
      font-size: 13px !important;
      padding: 10px 10px !important;
    }

    .button__txt {
      margin-top: 5px;
      @include bp(mobile) {
        font-size: 17px;
      }
    }

  }

  .button.green {
    margin-left: 7px;

    @include bp(mobile) {
      width: 100%;
      margin-left: 0px;
      padding: 15px !important;
      margin-top: 5px;
      border-radius: 5px;
    }

    &:hover {
      background-color: #15bb92 !important;
    }
  }

  .select__title {
    font-size: 18px !important;
    font-weight: bold;
  }

  .select__placeholder {
    font-size: 18px !important;
    font-weight: 600 !important;
    top: 10px !important;
    opacity: 0.75;

  }

  .hero-search {
    padding-top: 19px;
    padding-bottom: 18px;

    &__mobile {
      position: relative;

      .button.green {
        width: 60px !important;
        position: absolute;
        right: 14px;
        top: 68px;
        z-index: 9;
        @include bp(mobile-xsmall) {
          width: 55px !important;
          top: 66px;

        }
      }

      .select__caret {
        display: none;
      }
    }
  }

  .select-box {
    border-bottom: 0 !important;
  }

  .form-container {
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .hero-search__select .select:last-child {
    padding-left: 0px;
  }

  .mobile-category {
    .hero-search__select {
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding: 12px 20px;
    }

    &__item {
      background-color: rgba(37, 37, 37, 0.62);
      display: flex;
      justify-content: space-around;
      @include bp(mobile) {
        box-shadow: 0px 13px 139px 0px rgba(62, 62, 141, 0.1);
        border-radius:6px;
      }
    }

    &__link {
      position: relative;
      padding: 18px 7%;
      color: white;
      font-weight: bold;
      font-size: 15px;
      cursor: pointer;
      width: 100%;
      @include bp(mobile-xsmall) {
        font-size:13px;
      }


      &:hover {
        cursor: pointer;
      }

      &:before {
        content: '';
        position: absolute;
        width: 2px;
        height: 40px;
        top: 50%;
        right: -6px;
        background-color: rgba(103, 102, 102, 0.45);
        transform: translateY(-50%);
      }

      &:last-child {
        &:before {
          display: none;
        }
      }

      &:after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin:0 auto;
        width: 0;
        background-color: #17d9ae;
        height: 3px;
        transition: all 0.4s;
      }

      &.active{
        position: relative;
        &:after{
          width: 100%;
        }
      }
    }
  }

  .hero-search__mobile{
    display: none;
    @include bp(mobile) {
      display: none;
    }

  }

  .searchDesktop{
    @include bp(mobile) {

    }
  }

  .hero-search__submit.green{
    @include bp(mobile) {

    }
  }
  .hero-search__submit.green.mobile{
    @include bp(mobile) {
      display: block !important;
      top: 65px;
      z-index: 9;
      height: 53px;
    }
    @include bp(mobile-xsmall) {
    padding: 13px !important;
      height: 45px;
      width: 50px !important;
    }
  }

  .button__icon{
    margin-top: 0px !important;
  }
}
