@import "../variables";
//.city-list-result__item{
//  .info-card{
//    height: auto;
//  }
//}

.info-card {
  background: #ffffff;
  //margin-right: 25px;
  //max-width: 342.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 15px;
  text-align: center;
  opacity: .75;
  transition: all .3s ease-in-out;
  height: 155px;
  @include bp(tablet) {
    height: auto;
  }


  &:hover {
    background: #fff;
    opacity: 1;
    box-shadow: 0px 27px 68px 0px rgba(62, 62, 141, 0.1);

    .info-card__title {
      color: #4b5ba4;
    }

    .info-card__count {
      color: #2bd2a6;
    }

    .info-card__top {
      border-color: #e7e9ef;
    }

  }

  &__top {
    padding: 15px;
    padding-top: 20px;
    //border-bottom: 1px solid #d4dbea;
    transition: all .3s;
  }

  &__logo {
    height: 63px;
    margin: 0 auto 15px;
    display: block;
  }

  &__name {
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 600;
    color: #535b78;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__bottom {
    padding: 15px;
  }

  &__title {
    font-weight: 500;
    color: #939bb3;
    margin-bottom: 3px;
    font-size: 16px;
    transition: color .3s ease-in-out;
  }

  &__count {
    line-height: 1em;
    margin-bottom: 7px;
    font-size: 23px;
    font-weight: 700;
    color: #535b78;
    transition: color .3s ease-in-out;
  }

  &__wrp {
    padding: 10px;
  }

}





























