.mydorm-galeri {
  .galeri {
    &-wrp {
      &__bottom{
        position: relative;
        font-size: 14px;
        color: #9098af;
        margin-left: 10px;
        margin-top: 8px;
        &:before{
          content: '';
          position: absolute;
          left: -15px;
          background-color: #1ecea7;
          width: 8px;
          height: 8px;
          border-radius: 100%;
          top: 5px;
        }
      }
    }

    &-left {
      padding-left:0;
      padding-right: 0;
      &-wrp {
        display: flex;
        flex-wrap: wrap;

      }

      &__item {
        width: 137px;
        height: 120px;
        border-radius: 9px;
        margin: 6px 6px;
        &.active{
          border: 4px solid #21d4b0;
        }

        &-img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          border-radius: 9px;
        }
      }
      &:after{
        content: '';
        position: absolute;
        right: -11px;
        top: 0;
        width: 2px;
        height: 93%;
        background-color: #d6e0ee;
        transform: translateY(-50%);
        top: 50%;

      }
    }
    &-right{
      padding-left:0;
      padding-right: 0;
      &-wrp{
        height: 100%;
      }

      &__box{
        width: 91%;
        height: 100%;
        background-color: #eff3fb;
        border-radius: 9px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        line-height: 0;
        margin-left: auto;
        p{
          color: #cfd8e8;
          font-weight: bold;
        }

      }
      &__icon{
        font-size: 55px;
        color: #cfd8e8;
      }
    }
  }


}