@import "../variables";

.notice {
  .img-gen{
    height: 250px;
    @include bp(mobile-xsmall) {
      height: 200px;
    }
  }
  .city-uni-slider__item{
    max-width: 100% !important;
    padding-bottom: 10px;
  }
  .swiper-container{
    display: none;
    @include bp(mobile) {
      display: block;
      padding-bottom: 0 !important;
    }
    img{
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      width: 100%;
      height: 100%;
    }

  }
  .blog-header__shape {
    @include bp(mobile) {
      display: none;
    }

  }

  .subpage-header {
    min-height: 360px;
  }

  .subpage-nav__link {
    font-size: 16px;
  }

  .result-bracket:after {
    display: none;
  }

  .lightbox-detail {
    padding: 6px 20px;
    padding-bottom: 40px;

    .lightbox {
      &-text {
        font-size: 17px;
        color: #4a5aa3;
        margin-bottom: 8px;
      }

      &-location {
        font-size: 14px;

        &__icon {
          font-size: 14px;
          color: #17d3a5;
        }
      }

      &-middle {
        display: flex;
        justify-content: space-between;
        padding: 16px 0;
        border-top: 1px solid rgba(222, 225, 230, 0.56);
        border-bottom: 1px solid rgba(222, 225, 230, 0.56);
        margin: 15px 0;
        align-items: center;
        @include bp(mobile) {
          padding: 3px 0;
        }

        &__title {
          font-size: 11px;
          color: #17d3a5;
          font-weight: 600;
          letter-spacing: 0.8px;

          &--price {
            font-size: 26px;
            color: #17d3a5;
            font-weight: 800;
          }
        }

        &__text {
          font-size: 14px;
          font-weight: 600;
          color: #727a96;
          opacity: 0.8;

          &--span {
            font-size: 12px;
            position: relative;
            top: -8px;
          }
        }

        &__item {
          &-right {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            justify-content: flex-end;
          }
        }
      }

      &-bottom {
        &__title {
          font-size: 11px;
          color: #17d3a5;
          font-weight: 600;
          letter-spacing: 0.8px;
        }

        &__txt {
          font-size: 14px;
          color: #9198b2;
          opacity: 0.7;
          @include bp(mobile-xsmall) {
            font-size: 12px;
          }
        }
      }
    }
  }

  .lightbox-wrapper {
    .lightbox {
      background-color: transparent;
      margin: 0 auto;
      position: fixed;
      width: 100%;
      z-index: 255;
      max-width: 660px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden;
      @include bp(mobile) {
      width: 93%;
        width: 93%;
        height: 600px;
        overflow: scroll;
        overflow-x: hidden;
      }

      &-detail__wrp {
        background-color: #eff3fb;
        border-radius: 12px;
      }
    }
  }

  .subpage-gallery {
    height: 305px;
    margin-bottom: 22px;
    @include bp(mobile) {
      height: 200px;
      display: none;
    }
    @include bp(mobile-xsmall) {
      height: 120px !important;
    }

    &--3 {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin-top: 0;

      .subpage-gallery {
        &__item {
          width: auto;
        }

        &__col {
          &.big {
            width: 100%;
          }
        }
      }
    }
  }

  .navigator {
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transform: translateY(-50%);
    top: 50%;
    margin: 0 auto;
    right: 0;
    left: 0;

    &__left {
      background-color: #17d9ae;
      padding: 9px;
      border-radius: 100%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 15px;
      position: relative;
      left: -15%;

      .icon {
        color: white;
        position: relative;
        top: 1px;
      }

      &:hover {
        opacity: .75;
      }
    }

    &__right {
      background-color: #17d9ae;
      padding: 9px;
      border-radius: 100%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 15px;
      position: relative;
      left: 15%;

      .icon {
        color: white;
        position: relative;
        top: 1px;
      }

      &:hover {
        opacity: .75;
      }
    }
  }
}

.price-gen {
  display: flex;
  align-items: center;
  position: relative;
  top: 9px;
}

.notice {
  &-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &-box {
    display: flex;
    align-items: center;
    background-color: white;
    width: 48%;
    border-radius: 12px;
    box-shadow: 0px 8px 60px 0px rgba(62, 62, 141, 0.05);
    margin-right: 25px;
    margin-top: 25px;
    transition: all 0.6s ease;
    cursor: pointer;
    height: 150px;

    @include bp(small-desktop) {
      width: 47%;
    }

    @include bp(mobile) {
      height: 120px;
    }

    @include bp(tablet) {
      width: 100%;
      margin-right: 0;
    }

    &:hover {
      box-shadow: 0px 8px 60px 0px rgba(72, 72, 125, 0.19);
      background: #4b5ba4;

      .notice-box__right-location, .notice-box__right-name, .notice-box__right-small {
        color: white;
      }

      .notice-box__left-name {
        background: #4b5ba4;
        opacity: .9;
      }
    }

    &__left {
      position: relative;
      width: 175px;
      align-self: stretch;
      @include bp(mobile) {
        width: 125px;
      }

      &--img {
        max-width: 100%;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        box-shadow: 0px 8px 60px 0px rgba(62, 62, 141, 0.05);
        object-fit: cover;
        height: 100%;
      }

      &-name {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        transition: all 0.6s ease;
        color: white;
        font-weight: 600;
        font-size: 15px;
        opacity: 0;
        line-height: 1.1;

        a {
          color: white;
        }

        &__icon {
          font-size: 30px;
          color: #65cba1;
        }
      }
    }

    &__right {
      padding-left: 30px;
      padding: 25px 18px;
      max-width: calc(100% - 175px);
      @include bp(mobile) {
        max-width: 68%;
      }

      @include bp(mobile-xsmall) {
        max-width: 75%;
      }

      &-location {
        color: #2c3966;
        font-size: 14px;
        font-weight: 600;
      }

      &-name {
        padding-bottom: 10px;
        border-bottom: 1px solid #e6e8ef;
        color: #656e8d;
        font-size: 17px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &-price {
        font-size: 28px;
        color: #16d2a4;
        font-weight: bold;
        @include bp(mobile) {
          font-size: 24px;
        }
      }

      &-small {
        font-weight: 600;
        color: #9ca1b4;
        font-size: 11px;
        line-height: 1.1;
        margin-left: 10px;
        position: relative;
        top: 1px;
        font-weight: 500;
        letter-spacing: 0.5px;
      }
    }
  }
}

.lightbox-close {
  .close {
    position: absolute;
    right: 0;
    top: -60px;
    width: 46px;
    height: 46px;
    background-color: #17d3a5;
    padding: 11px;
    border-radius: 100%;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &-icon {
      color: white;
      font-size: 16px;
    }
  }
}

.request-right {
  width: 155px;
  right: 0;
  position: absolute;
  bottom: 55px;
  @include bp(mobile) {
    width: 90px;
    bottom: 10px;
  }
}