.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 50px 0 30px;

  &__item {
    background-color: #fdfdfd;
    color: #656e8d;
    margin: 5px;
    text-align: center;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    line-height: 1em;
    padding: 7px 0px;
    border-radius: 9px;
    min-width: 40px;
    height: 40px;
    font-size: 17px;
    box-shadow: 0px 7px 16px 0px rgba(41, 53, 108, 0.15);
    transition: all 0.3s;
    font-weight: 700;

    &:hover,&.router-link-active {
      background-color: #23daa9;
      color: #fff;
    }
  }

  &__button {
    border-radius: 50%;
    flex-shrink: 0;
    width: 50px;
    height: 50px;

    .button__icon {
      font-size: 17px;
    }

    &.disabled {
      background: rgba(21, 32, 80, 0.15);
      color: #5a627f;
      box-shadow: none;
      cursor: not-allowed;
    }

  }

  &__list {
    padding: 0px 20px;
    margin: 0px 20px;
    border-left: 1px solid rgba(172, 179, 201, 0.3);
    border-right: 1px solid rgba(172, 179, 201, 0.3);
  }

}
