@import "../variables";
.select__list-search{
  margin-top: 6px;
  margin-bottom: 12px;
  padding: 10px 7px;
  font-weight: bold;
  color: #777e92;
  border-radius: 7px;
  padding-bottom: 9px;
  &__wrp {
    width: 30%;
  }  

}

.cursorPointer {
  cursor: pointer; 
  } 

.select {
  width: 100%;
  position: relative;
  z-index: 5;

  &.active {
    z-index: 125;
  }

  & > * {
    user-select: none;
  }

  select {
    display: none;
  }

  &__wrp {
    position: absolute;
    top: 100%;
    min-width: 265px;
    right: -5px;
    background: white;
    width: 100%;
    box-shadow: 0px 10px 46px 0px rgba(41, 53, 108, 0.17);
    border-radius: 10px;
    margin-top: 33px;
    padding: 10px 15px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: all .2s ease;

    &:before {
      @include pseudo;
      @include triangle(up, $color: #fff, $size: 11px);
      position: absolute;
      top: 1px;
      right: 15px;
      transform: translateY(-100%);
    }

    &.active {
      opacity: 1;
      pointer-events: auto;
      transform: none;
    }

  }

  &__list {
    max-height: 245px;
    overflow: auto;
    width: 100%;
  }

  &-header {
    display: flex;
    position: relative;
    height: 50px;
    align-items: center;
    //color: #777e92;
    font-size: 18px;
    white-space: nowrap;
    color: #9198b2;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    padding-right: 55px;
    transition: all .3s;

    &:hover {
      color: #656e8d;

      .select__caret {
        color: #4263c9;
      }

    }

    &.open {
      .select__caret .icon {
        transform: scaleY(-1);
      }
    }

    &.active {
      color: #656e8d;
    }

    &.disabled {
      cursor: not-allowed;
    }

    .icon-font {
      margin-right: 10px;
      font-size: 25px;
      flex-shrink: 0;
      width: 1em;
    }

  }

  &__title {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__caret {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    transition: all .3s;

    .icon {
      transition: all .3s;
    }

  }

  &__option {
    padding: 5px;
    font-weight: 600;
    font-size: 17px;
    color: #777e92;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    transition: all .3s;
    padding-bottom: 9px;

    &:hover {
      color: #656e8d;
    }

    .icon-font {
      margin-right: 10px;
      font-size: 24px;
      flex-shrink: 0;
    }

    &-title {
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      line-height: 1.2em;
      text-overflow: ellipsis;
    }

  }

  &__placeholder {
    font-size: 13px;
    color: #6c7074;
    font-weight: 400;
    position: absolute;
    left: 0;
    top: 15px;
    transform-origin: 0 50%;
    transition: all .3s;
    color: #9198b2;
    font-weight: 600;

    &.active {
      transform: translate3d(0, -90%, 0) scale3d(0.8, 0.8, 1);
    }

  }


}
