.smart-map {
  .select__title {
    font-size: 15px;
    font-weight: bold;
  }
  .map {
    height: 100vh;
  }

  .gen-map{
    display: block;
    height: 100%;
    top: 4%;
    position: absolute;
    width: 100%;
  }

  .check-gen{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 13px 0;
    padding-bottom: 0;
    .check{
      font-size: 11px;
      color: #b1b3b9;
      position: relative;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #f5f8fc;
      padding: 4px 5px;
      border-radius: 6px;
      padding: 10px 5px;
      transition: all 0.2s;
      img{
        width: 30px;
        height: 21px;
      }
      .name{
        margin-left: 27px;
        top: 2px;
        position: relative
      }
      &:hover{
        background-color: #eef3f7;
      }
    }

  }

  .header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.68) 36%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0); /* IE6-9 */
  }

  .header-menu__item {
    color: white;
  }

  .user-settings__education {
    max-width: 430px;
    position: absolute;
    top: 22%;
    height: auto;
    left: 7%;
    background-color: white;
    border-radius: 12px;

    p {
      text-align: center;
      color: #17d9ae;
      font-weight: bold;
      font-size: 17px;
      padding: 10px 0;
      padding-bottom: 20px;
    }

    .select__placeholder {
      font-size: 13px;
      font-weight: 600;
      color: #9198b2;
    }
    &.bottom{
      margin-top: 255px;
      padding: 5px 16px;

    }
  }

  .container2 {
    display: block;
    position: relative;
    padding-bottom: 8px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 48%;
    display: inline-block;
    margin-bottom: 0px !important;
    margin-top: 10px;
    .name{
      float: left;
      left: 30px;
    }
  }

  .container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    left: 6px;
    height: 14px;
    width: 14px;
    border-radius: 3px;
    background-color: #eff3fb;
    border: 1px solid #d8d8d8;
    top: 1px;
  }

  /* On mouse-over, add a grey background color */
  .container2:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container2 input:checked ~ .checkmark {
    background-color: #15d2a3;
    border-color:#15d2a3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container2 input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container2 .checkmark:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 9px;
    border: 1px solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .wrapper{
    padding-bottom: 0;
  }
  .footer{
    display:none;
  }
}
