@import "../variables";

.uni-search {
  .subpage-list-top {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 85px;

    .section {
      &__title {
        font-size: 51px;

        &-top {
          margin-left: 25px;
          padding: 50px 0;
          text-align: center;
        }

        &-txt {
          font-size: 15px;
          position: relative;
          top: -7px;
        }
      }
    }

    .city-dorms__icon {
      max-width: 10%;
      position: relative;
      top: 38px;
      @include bp(mobile) {
        @include bp(mobile) {
          max-width: 30%;
        }
      }
    }
  }

  .subpage-list {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    .result-bracket {
      margin-bottom: 40px;
    }

    &__item {
      width: 24%;
      margin-right: 1.333%;
      margin-bottom: 1.333%;
      @include bp(mobile) {
        width: 100% !important;
        margin-bottom: 15px !important;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }

    }
  }

  .hero-search{
    margin-top: 0;
    margin-bottom: 40px;
    &__select{
      max-width: initial;
    }
  }

  .featured-dorms__bottom{
    margin-top: 50px;
  }


}


@media only screen and (max-width: 767px){
  .uni-search {
    .subpage-list-top {
      .section {
        &__title {
          font-size: 37px;
          line-height: 1.1;
          margin-bottom: 14px;
          font-weight: 600;
          &-top{
            margin-left: 0;
          }
        }
      }
    }
  }
}







