@import "../variables";

.button {
  padding: 13px 25px;
  border-radius: 7px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 47px;
  font-family: 'Sofia Pro', sans-serif;
  font-weight: 700;
  font-size: 18px;
  position: relative;
  white-space: nowrap;

  &__wrp {
    display: flex;
    align-items: center;
    justify-content: center;

    & > * {
      &:first-child {
        margin-right: 20px;
        margin-top: 2px;
        @include bp(mobile) {

        }
      }

      &:last-child {
        margin-right: 0;
      }

    }

  }

  &__icon {
    font-size: 25px;
    display: inline-flex;
  }

  &.circle {
    width: 57px;
    height: 57px;
    padding: 10px;
    border-radius: 50%;
    font-size: 25px;
    flex-shrink: 0;

    .button__icon {
      font-size: inherit;
      margin: 0 !important;
    }

    &.sm {
      width: 51px;
      height: 51px;
    }

    &.xs {
      width: 41px;
      height: 41px;
      min-height: initial;
    }

    &.icon-xs {
      font-size: 15px;
    }

  }

  &--text {
    font-weight: 600;
    font-size: 17px;
    padding: 5px;
    color: #656e8d;
    min-height: inherit;
    

    .button__icon {
      font-size: 20px;
      transition: transform .3s;
    }

    &:hover {
      color: #4445a1;

      .button__icon {
        transform: translateX(7px);
      }

    }

  }

  &--facebook {
    background: #1d5aac;
    box-shadow: 0px 5px 12px 0px rgba(41, 53, 108, 0.25);
    color: #fff;
  }

  &--stroke {
    padding: 13px 35px;
    border: 2px solid currentColor;
    color: #9198b2;

    &:hover {
      color: #4b5ba4;
    }

  }

  &.icon-transform {

    .button__icon {
      font-size: 21px;
      transition: transform .3s;
    }

    &:hover {
      .button__icon {
        transform: translateX(11px);
      }
    }
  }

  &--more {
    font-weight: 600;
    font-size: 18px;
    padding: 5px 0px;
    min-height: initial;
    margin-top: 20px;
    @include bp(mobile) {
        color:#17d3a5 !important;
    }

    .button__icon {
      font-size: 18px;
      margin-top: 1px;
      transition: transform .3s;
    }

    &:hover {
      .button__icon {
        transform: translateX(11px);
      }
    }

  }

  &.round {
    border-radius: 50px!important;
  }

  &.white {
    background: #ffffff;
    color: #9198b2;

    &:hover {
      color: #4263c9;
    }

  }

  &.icon-left {
    //padding-left: 60px;

    .button__icon {
      //position: absolute;
      //display: none;
      //top: 50%;
      //transform: translateY(-50%);
    }

  }

  &.purple {
    background: #4b5ba4;
    color: #fff;
  }
  &.gray{
    background-color: #dfe7f6;
    color:#4b5da1;
  }
  &.green {
    background: #17d3a5;
    color: #fff;
    box-shadow: 0px 8px 29px 0px rgba(23, 211, 165, 0.42);
    &:hover{
      background-color: #37e6bf !important;
    }
  }

  &.red {
    background: #eb6081;
    color: #fff;
    //box-shadow: 0px 8px 29px 0px rgba(23, 211, 165, 0.42);
  }




  &.fw {
    width: 100%;
  }
}
