@import "../variables";

.city {

  .dorm-tab .section__right{
    max-width: initial;
  }
.city-uni__wrp{
  .section__header {
    @include bp(mobile) {
      flex-direction: row;
      align-items: center;
    }
  }

  .section__right {
    @include bp(mobile) {
      justify-content: flex-end;
      max-width: 130px;
    }
  }
}


  @include bp(mobile) {
    .swiper-slide {
      opacity: 0 !important;
      pointer-events: none;
      transition: all .4s;

    }

    .swiper-slide-active,
    .swiper-slide-next {
      opacity: 1 !important;
      pointer-events: auto;
    }
  }


  .button.button--more {
    .button__wrp {
      flex-direction: row;
    }
  }

  .button__wrp {
    @include bp(mobile) {
      display: flex;
      flex-direction: row;
    }
  }

  .dorm-tab__left-item .dorm-tab__button {
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 0%;
      height: 2px;
      left: 50%;
      transform: translateX(-50%);
      transition: all .3s;
    }

    &.active.female:after {
      background: #eb6081;
      width: 100%;
    }

    &.active.male:after {
      background: #3986d6;
      width: 100%;
    }
  }

  .banner {
    @include bp(mobile) {
      margin-top: 15px !important;
    }
  }

  .dorm-tab {
    @include bp(mobile) {
      margin-top: 65px !important;
      padding-top: 10px;
    }
  }

  .gen {
    @include bp(mobile) {
      margin-top: 140px;
    }

  }

  .subpage__inner {
    .custom-container {
      @include bp(mobile) {
        margin-bottom: 40px;
        position: relative;
      }
    }
  }

  .subpage-header-inf__cnt {
    @include bp(mobile) {
      position: relative;
      border-left: none;
      padding: 12px 0;
      padding-bottom: 0;
      margin-left: 22px;
      &:before {
        content: '';
        position: absolute;
        left: -11px;
        top: 16px;
        width: 1px;
        height: 31px;
        background-color: rgba(103, 116, 177, 0.6901960784313725);
      }
    }
  }

  .section__title {
    @include bp(mobile) {
      font-size: 24px;
      padding: 12px 0;
      padding-bottom: 0;
    }
  }

  .swiper-container {
    @include bp(mobile) {
      padding-bottom: 0 !important;
    }
  }

  .subpage-header {
    padding-bottom: 0;

    .custom-container {
      padding-bottom: 0;
    }
  }

  &-uni {
    background: #eff3fb;
    padding-bottom: 0;
    @include bp(mobile) {
      padding-bottom: 0px !important;
    }


    .section__right {
      display: flex;
      align-items: center;

      @include bp(mobile) {
        flex-direction: row;
        text-align: justify;
        justify-content: flex-end;
      }


      .button {
        margin-left: 10px;

        &.swiper-button-disabled {
          opacity: .75;
          cursor: not-allowed;
        }

      }

    }

    &-slider {
      display: flex;
      align-items: center;
      margin-top: 30px;
      overflow: visible;


      &__item {
        //max-width: 342.5px;
      }

      .swiper-slide {
        opacity: 0;
        pointer-events: none;
        transition: all .3s;
        @include bp(mobile) {

        }


        &-active, &-next, &-next + .swiper-slide, &-next + .swiper-slide + .swiper-slide {
          opacity: 1;
          pointer-events: all;
        }

      }

    }

    &__wrp {
      .button.circle .button__icon {
        font-size: 17px !important;
      }
    }

  }

  .subpage-header__right .shape-13 path {
    fill: #eff3fb;
  }

  .wrapper {
    padding-bottom: 170px !important;
  }

  .pagination {
    @include bp(mobile) {
      margin-top: 25px;
    }

  }
}


.seo-text {
  color: #7a7f8e;
  font-size: 14px;
  padding: 14px;
  @include bp(mobile) {
    margin-top: -70px;
  }

  a{
    color: #17d3a5 !important;
    @include bp(mobile){
      word-break: break-word;
      text-align: left;
      span{
        display: block;
        word-break: break-word;
        white-space: normal;
      }
    }
  }

}

.seo-btn {
  color: #9ba2bb !important;
  font-size: 15px !important;
}

.wp-city .dorm-tab__header {
  margin-top: 0;
}

.wp-city{
  .subpage__inner::before {
    content: '';
    position: relative;
    width: 100%;
    height: 92px;
    background: #eff3fb;
    display: block;
    margin-bottom: -92px;
  }
  .subpage__inner2::before {
    content: '';
    position: relative;
    width: 100%;
    height: 92px;
  background: #eff3fb;
    display: block;
    margin-bottom: -92px;
  } 
  .select__list-search{
    padding-bottom: 3px;
  }
  .section__right{
    margin-top: 10px;
    @include bp(mobile) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}


@media only screen and (max-width:576px){
  .wp-city{
    .subpage__inner::before {
      height: 80px;
      margin-bottom: -140px;
    }
  }
}

.mobile-dropdown .select__wrp.active {
  display: none;
}


















