@import "../variables";
.featured-dorms {
  .mobileTab{
    @include bp(mobile) {
      padding: 9px 24px;
    }
  }
  .section__title{
    @include bp(mobile) {
      margin-bottom: 12px;
    }
  }
  .subpage-nav__item{
    &.active{
      &:after{
        width: 100%;
      }
    }
  }
  @include bp(mobile) {
    .custom-container{
      padding-right: 20px;
    }
  }

  .subpage-nav__item:after{
    @include bp(mobile) {
      display: none;
    }
  }

  .subpage-nav__link{
    @include bp(mobile) {
      padding: 30px 13px;
    }
  }

  .subpage-nav{
    border-bottom: 0;
    width: 110px;
    cursor: pointer;
  }

  @include bp(mobile) {
    padding-top: 0;
  }

  .select {
    &__title {
      font-size: 16px !important;
      font-weight: bold;
    }
  }

  &__cnt {
    padding-top: 20px;
    @include bp(mobile) {
      padding-top: 25px;

      .swiper-container {
        display: block !important;


      }
      .desktop-dorm{
        display: none;
      }
    }
  }

  &__bottom {
    margin-top: 50px;
    @include bp(mobile) {
      display: none;
    }
  }

  &__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }


  &__col {
    padding: 10px;
    //width: 357px;

    //&.premium {
    //  width: 715px;
    //}


    @include bp(small-desktop) {
      max-width: 50% !important;
    }

    @include bp(mobile) {
      padding: 0;
      margin-bottom: 20px;
      max-width: 100% !important;
    }

  }

  .select__title {
    font-size: 20px;
  }

  .section{
    &__tab{
      margin-right: 20px;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        right: -13px;
        top: 0;
        background-color: #d3d7de;
        width: 1px;
        height: 24px;
      }
      &:last-child{
        &:after{
          display: none;
        }
      }
      &-link{
        color: #9ba2bb;
        font-size: 17px;
        font-weight: bold;
        padding: 10px 26px;
        border-radius: 9px;
        padding-top: 13px;
        &.active{
          background-color: #17d9ae;
          color: white;
        }
      }
      &:last-child{
        margin-right: 0;
      }
    }
    &__right{
      //margin-right: -18px;
      //height: 20px;
      @include bp(mobile) {
     margin-top: 0;

      }

    }
    &__header{
      @include bp(mobile) {
        padding-bottom: 0;
        text-align: center;
        align-content:  center;
        align-content: center;
        align-items: center;
        display: inline-block;
      }

    }
  }

  .swiper-slide{
    @include bp(mobile-xsmall) {
      width: 260px !important;
    }

    @include bp(mobile) {
      max-width: 300px;
    }
  }

}

.city-dorms-cards {
  .section__title {
    font-size: 22px;

  }

  .color-blue {
    opacity: 0.5;
  }
}

