@import "../variables";

.footer {
  min-height: 500px;
  background: #f5f8fc;
  position: relative;
  z-index: 4;

  &__top {
    transform: translateY(-100%);
    display: flex;
    align-items: center;
    @include bp(mobile) {
      margin-top: 0px;
    }
  }

  &__left {
    width: 500px;
    position: absolute;
    bottom: -1px;
    padding-bottom: 10px;
    text-align: center;
    left: -110px;

    @include bp(mobile) {
      width: 100%;
      left:0;
    }

    .button {
      &:hover {
        background-color: #37e6bf;

        .button__icon {
          .icon {
            transform: rotate(90deg) !important;
          }
        }
      }
    }

    .icon {
      transition: all 0.5s;
    }
  }

  &__button.button {
    min-width: 220px;
    font-weight: 600;
    position: relative;

    .button__wrp {
      width: 100%;
    }

    .button__txt {
      margin-top: 2px;
    }

    .button__icon {
      font-size: 20px;
      position: absolute;
      right: 21px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &-ctr {
    width: 80%;
    padding-bottom: 25px;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include bp(mobile) {
      flex-direction: column;
      margin-left: 0;
      width: 100%;
      position: relative;
      top: -55px;
      align-items: center;
    }

    &__item {
      display: flex;
      align-items: center;
      color: #fff;
      padding: 10px 0;
      padding-right: 40px;
      margin-left: 40px;
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      font-size: 21px;

      @include bp(mobile) {
        margin-left: 0;
        border-right: 0;
       padding-right: 0;
      }

      &:last-child {
        border-right: 0;
        padding-right: 0;
      }

    }

    &__icon {
      display: inline-flex;
      font-size: 35px;
      color: #53aee9;
      margin-right: 20px;
    }

    &__txt {
      margin-top: 3px;

      a {
        color: white;

        @include bp(mobile-xsmall) {
          font-size: 18px;

        }

        &:hover {
          color: #5cb5ea;
        }
      }
    }
  }

  &__wrp {
    display: flex;
    align-items: stretch;
    margin-bottom: 85px;
    @include bp(tablet) {
      display: block;
    }
    @include bp(mobile) {
      margin-top: -60px;
      margin-bottom: 0;
    }
  }

  &-inf {
    align-self: center;
    margin-right: 40px;
    flex-shrink: 0;
    max-width: 310px;

    @include bp(mobile) {
      margin-right: 0;
      margin-top:42px;
      max-width: 100%;
    }

    @include bp(tablet) {
      text-align: center;
      margin-bottom: 50px;
      max-width: 100%;
      margin-right: 0;
    }

    &__logo {
      height: 50px;
      margin-bottom: 25px;
    }

    &__txt {
      font-weight: 300;
      color: #9198b2;
      font-size: 17px;
      margin-bottom: 10px;
    }
  }

  &-social {
    display: flex;
    margin-top: 40px;

    &:hover {
      .footer-social__item:not(:hover) {
        opacity: .7;
      }
    }

    &__item {
      box-shadow: 0px 7px 16px 0px rgba(41, 53, 108, 0.15);
      color: #656e8d;
      width: 49px;
      height: 49px;
      margin-right: 13px;
      background: #fff;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      font-size: 21px;

      &:hover {
        box-shadow: 0px 11px 36px 0px rgba(41, 53, 108, 0.2);
      }
    }
  }

  &-list {
    display: flex;
    align-items: stretch;
    width: 100%;
    @include bp(mobile) {
      display: none;
    }
  }

  &__col {
    border-left: 1px solid rgba(172, 179, 201, 0.35);
    padding-left: 35px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex: auto;

    &:first-child {
      @include bp(tablet) {
        border-left: 0;
      }
    }

    @include bp(mobile) {
      border-left: 0;
    }
  }

  &-links {
    &__title {
      font-weight: 500;
      font-size: 22px;
      color: #344b93;
      margin-bottom: 20px;
    }

    &__item {
      display: flex;
      align-items: center;
      padding: 5px 0;
      font-weight: 400;
      color: #656e8d;
      font-size: 18px;

      .icon-font {
        margin-right: 15px;
        width: 35px;
        height: 35px;
        background: #fff;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #17d3a5;
        font-size: 16px;
      }
    }
  }

  &-sec {
    position: relative;
    padding-bottom: 40px;
    @include bp(tablet) {
      text-align: left;
      padding-bottom: 80px;
    }
    @include bp(mobile) {
      margin-top: -42px;
    }


    &__item {
      font-size: 16px;
      color: #656e8d;
      opacity: 0.65;
      font-weight: 400;
      padding: 5px;
      margin-right: 25px;
      @include bp(mobile-xsmall) {
        font-size: 12px;
      }

      @include bp(mobile) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        font-size: 14px;
      }

      &:hover {
        opacity: 1;
      }

    }

    &__cards {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 520px;
      @include bp(mobile) {
        width: 100%;
      }
    }

    &__img {
      position: absolute;
      z-index: 2;
      bottom: 31px;
      width: 235px;
      left: 50%;
      transform: translateX(-50%);
      @include dont-touch;
    }

    &__links {
      margin-bottom: 80px;
      @include bp(mobile) {
        column-count: 1;
        a{
          justify-content: flex-start;
        }
        span{
          font-size: 12px !important;
        }
      }

    }
    strong{
      @include bp(mobile) {
        font-size: 14px;
        margin-bottom: 52px;
    }
    }
  }
}

.city-dorms-ctr:hover {
  .city-dorms-ctr__cnt .city-dorms-ctr__img {
    bottom: 40px;
  }
}

.register .footer-ctr {
  @include bp(mobile) {
    position: relative;
    top: -61px;
  }
}

.footer__button.button {
  @include bp(mobile) {
    position: relative;
    top: 52px;
  }
  @include bp(mobile-xsmall) {
    top: 62px;
    padding: 9px 9px;
    min-width: 220px;
  }
}
