.message-comment {
  margin-top: 18px;
  input::placeholder {
    color: #7d97ad;
    opacity: 0.8
  }

  .comment-wrp {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 12px 15px;
    border-radius: 10px;
    font-weight: 100;
    input{
      font-size: 13px;
    }
  }
  .comment-ico{
    padding: 7px 11px;
    background-color: #17d9ae;
    border-radius: 20px;
    color: white;
  }

}