@import "../variables";

.mobile {
  position: absolute;
  height: 100vh;
  background-color: #5565ae;
  width: 100%;
  z-index: 9999;
  margin-top: 6px;
  overflow: scroll;
  .btn-txt{
    color:white;
    font-size: 23px;
    opacity: 0.7;
    @include bp(mobile) {
      font-size: 19px;
    }
  }
  .button.header-login-btn{
    width: 85%;
    height: 70px;
    margin: 30px 27px;
    background-color: rgba(139, 154, 218, 0.2196078431372549);
    margin-bottom: 20px;
    @include bp(mobile) {
      height: 55px;
    }
  }
  .header-login-btn.button .button__txt{
    font-size: 26px;
    @include bp(mobile) {
      font-size: 21px;
    }
  }
  .header-login-btn.button .button__icon {
    font-size: 31px !important;
    position: absolute;
    right: 22px;
    @include bp(mobile) {
      font-size: 21px;
    }

  }
  .title.color-white{
    width: 100%;
    font-size: 24px;
    border-top: 1px solid rgba(191, 191, 191, 0.12941176470588237);
    border-bottom: 1px solid rgba(191, 191, 191, 0.12941176470588237);
    padding: 18px 0;
    margin-top: 28px;
    opacity: 0.9;
  }
  .mobile-bottom{
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    a{
      color: white;
      margin-right: 81px;
      margin-bottom: 12px;
      opacity: 0.6;
      @include bp(mobile) {
        margin-right: 39px;
      }
    }
  }

  .footer-links{
    border-top: 1px solid #6674b7ba;
    padding-top: 20px;
  }
  .footer-links__item .icon-font{
    width: 45px;
    height: 45px;
    background: rgba(255, 255, 255, 0.10196078431372549);
    @include bp(mobile) {
      width: 40px;
      height: 40px;
    }
  }

  .mobile-top{
    display: flex;
    padding: 30px 36px;
    justify-content: space-between;
    padding-bottom: 0;
  }
  .logo{
    width: 82%;
    position: relative;
    left: -21px;
    top: -8px;
  }
  .close{
    color:white;
    font-size: 1.3em;
    opacity: 1;
    text-shadow: none;
  }
  a.footer-links__item {
    margin-bottom: 5px;
  }

  .login-header{
    .icon-user{
      position: absolute;
      left: 25px;
      font-size: 26px;
      color: #17deb7;
    }
    .button.header-login-btn{
      background-color: transparent !important;
      display: flex;
      justify-content: space-between;
    }
    .button__wrp{
      margin-left: 35px;
    }
  }

}


.detail-dorm{
  .mobile{
    margin-top: 0 !important;
  }
  .mobile-top{
    display: block !important;
  }
}
