@import "../variables";

.section {
  &__inner {
    .subpage-header {
      &__title {
        text-align: center;
        font-size: 51px;
      }

      &__text {
        text-align: center;
        color: #8a92ab;
        font-size: 15px;
      }
    }

  }

  .hero-search {
    box-shadow: 0px 13px 139px 0px rgba(62, 62, 141, 0.1);
  }

  .subpage-accordion {
    margin-top: 55px;
    overflow: hidden;
    width: 100%;
    display: flex;

    @include bp(mobile) {
      flex-direction: column;
    }

    &__wrapper {
      overflow: hidden;
      width: 100%;
    }

    &__title {
      display: flex;
      align-items: end;
      width: 35%;
      margin-right: 25px;

      @include bp(mobile) {
        width: 100%;
      }

      &-text {
        position: relative;
        font-size: 26px;
        color: #66cca2;
        top: 13px;

        @include bp(mobile) {
          margin-bottom: 20px;
        }
      }
    }

    &:first-child {
      border-top: 1px solid red;
    }
  }
}

.advertisement {
  .login-box {
    margin-right: 45px;
    min-height: 531px;
    flex-shrink: 0;

    &__left {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__title {
      line-height: 1.4;
      font-size: 22px;

      @include bp(mobile) {
        font-size: 18px;
      }
    }
  }

  .subpage-accordion {
    &__title {
      width: 100%;
    }
  }

  .section {
    &__inner {
      .subpage-accordion {
        display: flex;
        margin-top: 60px;
      }
    }
  }
}

.questions {
  .hero-search {
    @include bp(mobile) {
      width: 100%;
    }

    margin: 40px auto;
  }

  input {
    @include bp(mobile) {
      padding: 22px 20px;
    }
  }
}