@import "../variables";

.register-box {
  margin: 0;
  width: initial;
  padding-bottom: 50px;

  &_input {
    margin-top: 60px;
  }

  .login-box {
    width: 40%;
    height: 50px;
  }

  &__info {
    background-color: #f5f8fc;
    margin-top: -9px;
    padding: 25px 30px;
    padding-bottom: 39px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;

    .row {
      margin-bottom: 20px;
    }
    .login-box{
      &__bottom{
        margin: 62px auto;

      }
    }
    @include bp(small-desktop) {
      width: 52.5%;
    }
    @include bp(tablet) {
      width: 100% !important;
    }
  }

  .tabs {
    position: absolute;
    width: 100%;
    left: 0;
    overflow: hidden;
    top: 0px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: #f5f8fc;
    cursor: pointer;

    &__item {
      padding: 12px;
      background-color: #f5f8fc;
      text-align: center;
      border-top-right-radius: 12px;
      display: flex;
      padding-left: 33px;
      align-items: center;

      border-bottom: 2px solid transparent;
      transition: all .3s ease-in-out;
      width: 100%;

      &:last-child {
        border-top-left-radius: 12px;
      }

      &-link {
        color: #5668ab;
        font-weight: bold;
        font-size: 18px;
        margin-left: 15px;
        margin-top: 7px;
      }

      &-img {
        width: 10%;
      }

      &.active-tab {
        border-color: #66cca2;
        background-color: white;
        span{
          color: #71d2ac;
        }
      }
    }

  }
}

.register-info{
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 8%;
  width: 42%;
  height: 100%;
  .about-info{
    &__item{
      width: 100%;
      align-items: flex-start;
      margin-left:60px;
      margin-bottom: 20px;
      &_img{
        text-align: inherit;
      }
      &_text{
        padding: 10px 0px;
        p{
          text-align: left;
          color: #656e8d;
          opacity: 0.6;
        }
      }
    }
    &__number{
      text-align: left;
      p{
        &:after{
          right: inherit;
        }
      }
    }
  }
  @include bp(tablet) {
    display: none;
  }
}

.login-box {
  &__bottom {
    width: 48%;
  }
}

.check-wrapper{
  margin-bottom: 5px;
  margin-top: 27px;
  &__item{
    font-size: 13px;
    color: #5e5f61;
  }
}
.textarea .form-input{
  height: 105px;
}

.form-control{
  background-color: transparent;
  color: #656e8d;
  opacity: 1;
  &:focus{
    background-color: transparent;
    color: #656e8d !important;
  }
}


.register{
  .login-box{
    padding: 20px 20px 50px !important;
  }
  .register-box__info{
    .or.blue{
      top: -30px;
    }
  }

  .check-wrapper__item{
    @include bp(mobile){
      .name{
        font-size: 13px;
        left: 0;
        top: -3px;
      }
    }
  }
}





