@import "../variables";

.user {
  .big-select{
    @include bp(mobile) {
      width: 100% !important;
    }
  }
  .left-one {
    @include bp(mobile) {
      flex-direction: column;
    }
  }

  .left {
    @include bp(mobile) {
      margin-right: 0 !important;
    }
    .avatar{
      font-size: 24px !important;
      padding-top: 4px !important;
    }
  }

  .dorm-account-wrp-two {
    @include bp(mobile) {
      flex-direction: column;
    }
  }

  .subpage-nav {
    padding-top: 85px;
    background: #f5f8fc;

    &__link {
      font-size: 18px;
      .btn-txt{
        left: 0 !important;
      }
    }
  }

  .select__title {
    font-size: 13px !important;
    color: #383c40;
    opacity: 0.7;
    font-weight: 500;
  }

  &__list {
    margin-bottom: 50px;

    &-count {
      width: 100%;
      margin: 40px 0;
    }

    &-offer {
      &__item {
        background-color: #f5f8fc;
        display: flex;
        align-items: center;
        padding: 9px 20px;
        position: relative;
        box-shadow: 0px 8px 60px 0px rgba(62, 62, 141, 0.05);
        border-radius: 9px;
        margin-bottom: 8px;
        transition: all 0.5s ease;

        &:hover {
          background-color: white;

          &__dorm {
            &-img {
              background-color: red;
            }
          }
        }
      }
    }

    &__dorm {
      display: flex;
      align-items: center;
      margin-left: 50px;

      &-wrp {
        display: flex;
        flex-direction: column;
      }

      &-img {
        &-wrp {
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 130px;
          height: 95px;
          padding: 1px;
          border-radius: 10px;
          margin-right: 18px;
          @include bp(mobile){
            margin-right: 0;
            margin-bottom: 12px;
          }
        }
      }

      &-name {
        color: #5565ae;
      }

      &-location {
        font-size: 16px;
        color: #7b7b7b;
        margin-top: 7px;
        @include bp(mobile){
          font-size: 14px;
          margin-top: 10px;
        }

        &-svg {
          width: 14px !important;
          top: -4px;
          @include bp(mobile){
            
          }
        }
      }

      &-img {
        width: 80%
      }
    }

    &-date {
      font-size: 15px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        background-color: #f3f3f5;
        width: 2px;
        height: 55px;
        right: -35px;
        top: -15px;
      }
    }

    &-btn {
      position: absolute;
      right: 17px;
      width: 150px;
    }
  }

  .custom-container {
    max-width: 1160px;
  }

  &-settings {
    .custom-container {
      display: flex;
      align-items: flex-start;
      @include bp(mobile) {
        flex-direction: column;
        align-items: center;
      }
    }

    .login-box {
      margin: initial;
      margin-right: 20px;
      position: relative;

      &.session {
        background-color: #f5f8fc;
        padding: 25px !important;
        @include bp(mobile) {
          width: 100%;
          margin-right: 0;
          padding: 15px 20px 20px !important;
        }
      }

      &__title {
        &.setting {
          color: #17d9ae;

        }
      }

      &__submit {
      }

      &--personal {
        padding: 0;
        @include bp(mobile) {
          width: 100%;
          margin-right: 0;
          margin-bottom: 25px !important;
          padding: 15px 0 0px 0 !important;
          .login-box__group{
            padding: 0 20px 20px 20px !important;
            .form-placeholder{
              left: 0px;
            }
            .select-title{
              left: 0px;
              position: relative;
            }
          }
        }
      }

      &__group {
        padding: 25px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        @include bp(mobile) {
          padding: 20px;
          input{
            font-size: 14px !important;
            padding-bottom: 0px;
            padding-left: 0 !important;
          }
          .select__caret{
            font-size: 10px;
            width: 10px;
            height: 10px;
            right: 10px;
          }
        }

      }

    }

    &__education {
      width: 100%;
      left: 0;
      background-color: #f5f8fc;
      padding: 11px 30px;
      height: 100%;
      margin-top: 26px;
      position: relative;
      @include bp(mobile){
        input{
          padding: 10px 14px 0 !important;
        }
      }

      .select{
        &:first-child{
          border-bottom: 1px solid #dadce2;
          margin-bottom: 10px;
          padding-bottom: 10px;
        }
      }
    }

    .or {
      &__title {
        &-blue {
          padding: 0;
          position: absolute;
          top: 0px;
          width: 100%;
          left: 0;
        }
      }
    }

    &__top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 0;
      @include bp(mobile) {
        flex-direction: column;
      }
    }

    &__profil {
      display: flex;
      align-items: center;
      width: 90%;
      @include bp(mobile) {
        flex-direction: column;
      }

      &-name {

        font-size: 18px;
      }

      &-img {
        width: 100%;
        border: 3px solid white;
        border-radius: 100%;
      }

      &-mail {
        margin-right: 102px;
        color: #a2a2a2;
        font-size: 13px;
        @include bp(mobile) {
          margin-right: 0 !important;
          font-size: 14px !important;
          margin-top: 0px;
        }
      }
    }
  }

  .select__placeholder[data-v-03a9a7af] {
    font-size: 13px;
  }

  .sign-out {
    font-size: 18px !important;
    transition: all 0.4s;
    color: #5565ae;
    cursor: pointer;
  }

  .sign-out:hover {
    color: #3f4d8a;
  }
}

.select {
  &__title {
    font-size: 12px;
  }

  &-title {
    font-size: 13px;
    border-bottom: 1px solid #e1e7ee;
    padding-bottom: 10px;
    margin-top: 33px;
    color: #9ba2bb;
    font-weight: bold;
  }


}

.left {
  width: 90px;
  margin-right: 18px;
  @include bp(mobile){
    margin-bottom: 5px;
  }
}

.right {
  margin-left: 0 !important;
}

.right-block {
  display: flex;
  align-items: center;
  @include bp(mobile){
      margin-top: 10px;
    }

  .exit-text {
    font-size: 14px;
    margin-right: 12px;
    color: #5f70b7;
  }


}


.user .subpage-nav__item{
  @include bp(mobile) {
    padding: 0 25px;
    text-align: center;
    height: 68px;
    
  }
  a{
    @include bp(mobile) {
      font-size: 13px;
      padding: 20px 6px;
      align-items: center;
      height: 100%;
    }
  }
}


.user-wrp-comments{
  .user__list__dorm-location-svg{
    opacity: 1 !important;
   }
  .user__list-comment{
    font-size: 15px;
  }
  .user__list__dorm-img-wrp{
    margin-bottom: 15px;
    margin-right: 15px;
   }
   .user__list-offer__item{
      padding: 15px;
    }
   .user__list-comment-wrp{
    margin-bottom: 15px;
   }
   .user__list__dorm-wrp{
    padding-bottom: 15px;
   }
  @include bp(mobile){
    margin-right: 0;

  }

}


.user{
  .login-box__title{
    @include bp(mobile){
      font-size: 22px;
      margin-bottom: 30px !important;
      margin-top: 10px !important;
    }
  }
}



